/* ============================================================================
  Forms
============================================================================== */

@include media-query($max, $medium) {
  input,
  textarea {
    font-size: 1.6rem;
  }
}

input,
textarea {
  user-select: text;
}

button,
input,
textarea {
  appearance: none;
}

button {
  display: inline-block;
  border: none;
  background: none;
  cursor: pointer;
}

fieldset {
  padding: calc($gutter / 2);
  border: 1px solid $color-border;
}

legend {
  padding: 0;
  border: 0;
}

button,
input[type='submit'] {
  cursor: pointer;
}

input,
textarea,
select {
  max-width: 100%;
  padding: 8px 10px;
  border: 1px solid $color-border;
  border-radius: $border-radius;

  &[disabled],
  &.disabled {
    border-color: $color-disabled;
    background-color: $color-disabled;
    cursor: default;
  }

  &.input-full {
    width: 100%;
  }
}

textarea {
  min-height: 96px;
}

input[type='checkbox'],
input[type='radio'] {
  display: inline;
  width: auto;
  margin: 0 8px 0 0;
  padding: 0;
}

input[type='checkbox'] {
  appearance: checkbox;
}

input[type='radio'] {
  appearance: radio;
}

input[type='image'] {
  padding-right: 0;
  padding-left: 0;
}

select {
  width: auto;
  padding-right: 28px;
  border-radius: 0;
  background-color: transparent;
  background-image: url('select.svg');
  background-repeat: no-repeat;
  background-position: right 10px center;
  text-indent: 0.01px;
  text-overflow: '';
  cursor: pointer;
  appearance: none;
}

select::-ms-expand {
  display: none;
}

label[for] {
  cursor: pointer;
}

form {
  input,
  textarea,
  select {
    width: 100%;
  }
}

.form-vertical {
  input,
  select,
  textarea,
  button,
  .dropdown-select {
    display: block;
    width: 100%;
    margin-bottom: 24px;
  }

  input[type='radio'],
  input[type='checkbox'] {
    display: inline-block;
  }

  a,
  p {
    display: block;
  }

  p > a {
    display: inline-block;
  }

  h1 {
    margin-bottom: 24px;
  }
}

.form-inline {
  display: table;
  position: relative;

  input,
  div,
  .btn {
    display: table-cell;
    height: 42px;
    margin: 0;
    vertical-align: middle;
  }

  input {
    width: 100%;

    &::placeholder {
      opacity: 1;
    }
  }

  div {
    position: relative;
    width: 1%;
    padding: 0;
    white-space: nowrap;
  }
}

.form-errors,
.form-success {
  display: block;
  margin-bottom: 16px;
  padding: 12px;
  text-align: center;

  ul {
    margin: 0;
    list-style-type: none;
  }

  li {
    margin: 0;
  }
}

.form-errors {
  color: $color-error;
}

.form-success {
  color: $color-success;
}

/* stylelint-disable selector-max-attribute, max-nesting-depth */
form[data-validation-required] {
  [data-required-field-wrapper] {
    position: relative;

    [data-required-field].input-error {
      border: 1px solid $color-error;

      + span {
        display: block;

        &::after {
          content: attr(data-after);
          position: absolute;
          top: -20px;
          right: 0;
          width: max-content;
          font-size: 1.2rem;
        }
      }
    }

    span {
      display: none;
      position: absolute;
      top: 0;
      right: 10px;
      height: 100%;
      color: $color-error;
      font-size: 2.4rem;
      font-weight: 700;
    }
  }
}
/* stylelint-enable selector-max-attribute, max-nesting-depth */
