/* ============================================================================
  Horizontal rule
============================================================================== */

hr {
  height: 0;
  margin: $gutter 0;
  clear: both;
  border-top: solid $color-border;
  border-width: 1px 0 0;
}
