/* ============================================================================
  Normalize
============================================================================== */

*,
input,
::before,
::after {
  box-sizing: border-box;
}

html,
body {
  max-width: 100%;
  margin: 0;
  padding: 0;
}

:focus,
:active {
  outline: none;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary {
  display: block;
}

audio,
canvas,
progress,
video {
  display: inline-block;
  vertical-align: baseline;
}

input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {
  height: auto;
}

input[type='search']::-webkit-search-cancel-button,
input[type='search']::-webkit-search-decoration {
  appearance: none;
}

button {
  margin: 0;
  padding: 0;
}
