/* Helpers */
@import '~@styles/helpers/variables';
@import '~@styles/helpers/mixins';
@import '~@styles/helpers/functions';

/* ============================================================================
  Celebrity Picks
============================================================================== */

.celebrity-picks {
  display: block;
  background: linear-gradient(
    90deg,
    rgb(255, 233, 239) 0%,
    rgb(205, 226, 251) 100%
  );

  .swiper-slide {
    min-width: 250px;
  }
}

.celebrity-picks__wrapper {
  display: flex;
  justify-content: center;

  @include media-query($min, $large) {
    max-height: 800px;
  }
}

.celebrity-picks__container {
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: end;
}

.celebrity-picks__content {
  display: flex;
  flex-direction: column;
  padding: 20px;
  gap: 12px;

  @include media-query($min, $large) {
    max-width: 600px;
    padding: 40px 40px 40px 20px;
    overflow: inherit;
  }

  .celebrity-picks__copy {
    width: 100%;
    font-style: italic;

    @include media-query($min, $large) {
      width: 85%;
    }
  }
}

.celebrity-picks__products {
  display: flex;
  justify-content: stretch;
}

.celebrity-picks__product-card {
  display: flex;
  flex: 1;
  flex-direction: column;
  padding: 10px 10px 15px;
  background: rgba(255, 255, 255, 0.8);

  .btn {
    margin-top: 15px;
  }
}

.celebrity-picks__product-image {
  position: relative;
  aspect-ratio: 3/4;

  @include media-query($min, $large) {
    aspect-ratio: 2/3;
  }

  img {
    z-index: 1;
  }
}

.celebrity-picks__product-title {
  margin: 10px 0 5px;
  font-weight: 700;
}

.celebrity-picks__product-price {
  flex: 1;
}

.celebrity-picks__image {
  position: relative;
  flex: 1;
  aspect-ratio: 1;

  img {
    z-index: 1;
    object-position: top;
  }
}

.celebrity-picks__navigation {
  position: absolute;
  z-index: 10;
  top: 50%;
  left: 0;
  width: 100%;

  .swiper-button-prev svg,
  .swiper-button-next svg {
    border-radius: 100%;
    background: $color-white;
  }

  .swiper-button-prev,
  .swiper-button-next {
    position: absolute;
    height: 64px;
    padding: 16px;
    transform: translateY(-50%);
  }

  .swiper-button-prev {
    left: 10px;
  }

  .swiper-button-next {
    right: 10px;
  }

  @include media-query($min, $large) {
    .swiper-button-prev {
      left: 30px;
    }

    .swiper-button-next {
      right: 30px;
    }
  }

  .swiper-button-disabled {
    opacity: 0.3;
  }
}
