/* Helpers */
@import '~@styles/helpers/variables';
@import '~@styles/helpers/mixins';
@import '~@styles/helpers/functions';

/* ============================================================================
  Celebrity Picks
============================================================================== */

.celebrity-picks {
  background: linear-gradient(
    90deg,
    rgb(255, 233, 239) 0%,
    rgb(205, 226, 251) 100%
  );
}

.celebrity-picks__wrapper {
  display: flex;
  justify-content: center;
}

.celebrity-picks__container {
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: end;
}

.celebrity-picks__content {
  display: flex;
  flex-direction: column;
  padding: 20px;
  gap: 12px;

  @include media-query($min, $medium) {
    max-width: 600px;
    padding: 40px 40px 40px 20px;
  }

  .celebrity-picks__copy {
    width: 100%;
    font-style: italic;

    @include media-query($min, $medium) {
      width: 85%;
    }
  }
}

.celebrity-picks__products {
  display: flex;
  gap: 12px;
  justify-content: stretch;
}

.celebrity-picks__product-card {
  display: flex;
  flex: 1;
  flex-direction: column;
  padding: 10px 10px 15px;
  background: rgba(255, 255, 255, 0.8);

  .btn {
    margin-top: 15px;
  }
}

.celebrity-picks__product-image {
  position: relative;
  aspect-ratio: 3/4;

  @include media-query($min, $medium) {
    aspect-ratio: 2/3;
  }

  img {
    z-index: 1;
  }
}

.celebrity-picks__product-title {
  margin: 10px 0 5px;
  font-weight: 700;
}

.celebrity-picks__product-price {
  flex: 1;
}

.celebrity-picks__image {
  position: relative;
  flex: 1;
  max-height: 800px;
  aspect-ratio: 1;

  img {
    z-index: 1;
    object-position: top;
  }
}
