/* ============================================================================
  Pagination
============================================================================== */

.pagination {
  text-align: center;

  ol > .pagination__page,
  ol > .pagination__prev,
  ol > .pagination__next {
    display: inline-block;
    line-height: 1;
  }

  a {
    text-decoration: underline;
  }
}

.pagination__page {
  padding: 8px;
}
