/* Helpers */
@import '~@styles/helpers/variables';
@import '~@styles/helpers/mixins';
@import '~@styles/helpers/functions';

@import '~@sections/customers/account/account-layout';

/* ============================================================================
  Account Addresses
============================================================================== */

.account__address {
  position: relative;
  margin-bottom: 16px;
  padding: 24px;
  border-radius: $border-radius;

  .account__address-toggle {
    display: flex;
    position: absolute;
    align-items: center;
    justify-content: space-between;
    width: 100%;

    .icon-minus {
      display: none;
    }
  }

  .account__address-info {
    display: none;
    align-items: flex-end;
    justify-content: space-between;

    @include media-query($min, $medium) {
      display: flex;
    }

    p {
      margin: 0;
    }
  }

  &.active {
    .account__address-info {
      display: flex;
    }

    .icon-plus {
      display: none;
    }

    .icon-minus {
      display: block;
    }
  }
}

.account__address-actions {
  display: flex;
  align-items: center;

  button {
    margin-right: 8px;
  }
}
