// Helpers
@import '~@styles/helpers/variables';
@import '~@styles/helpers/mixins';
@import '~@styles/helpers/functions';

/* ============================================================================
  Promobar
============================================================================== */

.promobar {
  padding: 13px 0;
  background-color: rgb(var(--color-background));
  line-height: 1;

  a {
    transition: opacity $transition-primary;
    color: rgb(var(--color-foreground));

    &:hover {
      opacity: 60%;
    }
  }
}
