/* Helpers */
@import '~@styles/helpers/variables';
@import '~@styles/helpers/mixins';
@import '~@styles/helpers/functions';

/* ============================================================================
  Hero
============================================================================== */

.home-hero {
  position: relative;
  padding: 100px 0;
}

.home-hero__content {
  display: flex;
  flex-direction: column;
  justify-content: start;
  width: 50%;
  padding: 0 0 60px;
  gap: 20px;

  @include media-query($max, $medium) {
    width: 100%;
    background: rgba(255, 255, 255, 0.5);
    box-shadow: 0 0 30px 30px rgba(255, 255, 255, 0.5);
  }
}

.home-hero__header {
  display: flex;
  flex-direction: column;
  gap: 16px;

  h2 {
    @include typography(80, 80, $weight-bold);
  }
}

.home-hero__button {
  .btn {
    border-color: var(--cta-border-color);
    background-color: var(--cta-bg-color);
    color: var(--cta-text-color);

    &:hover {
      border-color: var(--cta-border-color-hover);
      background-color: var(--cta-bg-color-hover);
      color: var(--cta-text-color-hover);
    }
  }
}

.home-hero__badge {
  position: absolute;
  top: var(--position-y);
  left: var(--position-x);
  width: var(--badge-width, 75px);
  aspect-ratio: 1;
}
