/* ============================================================================
  Collection item
============================================================================== */

.collection-item {
  margin-bottom: 20px;

  h3 {
    margin-bottom: 0;
  }

  p {
    margin-bottom: 0;

    s {
      margin-left: 5px;
    }
  }
}

.collection-item__image {
  display: block;
  margin-bottom: 12px;
  aspect-ratio: 1/1;
}
