/* ============================================================================
  Collection item
============================================================================== */

.collection-item {
  margin-bottom: 20px;

  h4 {
    margin-bottom: 0;
    font-size: 2rem;
  }

  p {
    margin-bottom: 0;

    s {
      margin-left: 5px;
    }
  }
}

.collection-item__image {
  aspect-ratio: 1/1;
  display: block;
}
